* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: baseline;
    padding: 20px 0;
}

.attrubutesList {
    // position: absolute;
    // right: 200px;
    // top: 20px;
}